/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 1% 1% 1%;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 4%;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 2%;
}

.item > img {
  width: 100%;
}

.item-double {
  padding: 1%;
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 2% 2% 0 2%;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 60px;
  color: #fff;
  text-align: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

#menu {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

/* -------  Search Form ------- */
.form-group {
  display: flex;
  flex: 1;
}

form {
  border: 2px solid #ff385c;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  flex: 1;
  margin: 10px;
}

form select,
form input {
  margin: 10px 10px 20px 10px;
  flex: 2;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
  flex: 1;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    padding-top: 10px;
  }

  #menu {
    flex-wrap: wrap;
    line-height: 1.4;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    font-size: 72px;
  }

  .form-group {
    flex-direction: column;
    min-width: 0;
  }

  .group {
    flex-direction: row;
  }

  .idea {
    flex-direction: column;
  }

  .host-group, #host .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
